pcb/gullwing/~gullwing.kicad_pcb.lck
pcb/gullwing/~gullwing.kicad_sch.lck
pcb/gullwing/fp-info-cache
pcb/gullwing/_autosave-gullwing.kicad_prl
pcb/gullwing/_autosave-gullwing.kicad_pro
pcb/gullwing/gullwing-backups
